.item {
    color: rgb(149, 57, 57);
  }
  .avatar {
    border-radius: 20px;
  }
  .description {
     font-size: 1.5rem;
     font-weight: 700;
     color: rgb(149, 26, 26);
     margin-left: 20px;
  }
  .info_block {
    display: flex;
    flex-flow: row wrap;
  }
  .info_post {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(26, 9, 9);
  }
  .date {
    font-size: .7rem;
    color: rgb(27, 6, 6);
  }
  .new_post {
     margin: 20px 0 10px 20px;
  }
  .item {
    border: 1px solid #333;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }