
  .avatar {
    border-radius: 20px;
  }
  .description {
     font-size: 1.5rem;
     font-weight: 700;
     color: rgb(26, 19, 19);
     margin-left: 20px;
  }
  .info_block {
    display: flex;
    flex-flow: row wrap;
  }
  
  .date {
    font-size: .7rem;
    color: rgb(27, 6, 6);
  }
  
  