.sidebar {
    grid-area: s;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(7, 0, 0);
    border-radius: 20px;
}

.item a{
  text-decoration: none;
  color: rgb(149, 26, 26);
  font-weight: 700;
  font-size: 1.5rem;
  
}

.item {
  text-align: center;
  padding: 10px;
}

.item a.activeLink{
  color: #ffffff;
}

.item a:hover {
  color: #ffffff;
}

.blockfriend {
    display: flex;
}