
.dialogs {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    background-color: #333333;
    border-radius: 20px;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 1.2rem;
}

.dialogsItems {
    border-right: 2px solid rgb(226, 22, 22); 
}

.dialogsItems a {
    text-decoration: none;
    color: #ffffff;
}

.dialogsItems a:hover {
    color: rgb(226, 22, 22);
}

.dialog {
    padding: 10px;
    margin: 10px; 
}

.massage {
    color: #c71818;
    padding: 10px 10px 10px 20px;
    max-width: 40%;
    margin: 10px 10px 10px 30px;
    border-radius: 10px;
    background-color: #d1caca;
}

.title {
    margin-left: 10px;
}

.addText {
    padding: 10px 10px 10px 0;
    max-width: 40%;
    margin: 10px 10px 10px 30px;
}

.textarea {

    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.button {

    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: rgb(226, 19, 19);
}
